<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Universal_OTA_Flasher.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Universal_OTA_Flasher.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <applicationSettings>
        <Universal_OTA_Flasher.Properties.Settings>
            <setting name="programVersion" serializeAs="String">
                <value>v1.0</value>
            </setting>
        </Universal_OTA_Flasher.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <Universal_OTA_Flasher.Properties.Settings>
            <setting name="scanConcurrentRequests" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="scanTimeout" serializeAs="String">
                <value>3000</value>
            </setting>
            <setting name="scanIPAdressStart" serializeAs="String">
                <value>192.168.0.1</value>
            </setting>
            <setting name="scanIPAdressEnd" serializeAs="String">
                <value>192.168.0.254</value>
            </setting>
            <setting name="flashConcurrentRequests" serializeAs="String">
                <value>3</value>
            </setting>
        </Universal_OTA_Flasher.Properties.Settings>
    </userSettings>
</configuration>